/design
/node_modules
.idea
/build

#FRONTEND
/frontend/node_modules

/frontend/coverage
/frontend/build

/frontend/.env
/frontend/.env.local

/frontend/yarn-debug.log*
/frontend/yarn-error.log*

#BACKEND
/backend/node_modules
/backend/config.js
/backend/.env
/backend/.env.local
