@import "variables";

.cropper-view-box {
  border-radius: 50% !important;
}

$theme-colors: (
        "brand": $blue,
        "brand-secondary": $gray,
);

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "src/components/Navbar/Navbar";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ws-pre-line {
  white-space: pre-line;
}

.sh-1 {
  box-shadow: 0 20px 26px -25px rgba(0, 0, 0, 0.5);
}

.bg-gray {
  background-color: $gray-light;
}

.form-title {
  color: $grey-dark;
}

.cursor-pointer {
  cursor: pointer;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.d-text-underline {
  &:hover {
    text-decoration-line: underline;
  }
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 10px;
}

::-webkit-scrollbar-track {
  cursor: pointer;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: $gray-light;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: $gray;
}

.page {
  padding: 75px 0 0;
  min-width: 0;
  height: 100vh;

  .page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    .page-container {
      max-width: 1180px;
      padding: 0 10%;
    }

    @include media-breakpoint-down(md) {
      .page-container {
        padding: 0;
      }
    }

    .page-footer {
      height: 100px;
      min-height: 100px;
    }
  }
}

.btn:not(.auto-width) {
  max-width: 250px;
  min-width: 250px;
}

.btn.fullwidth {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

@include media-breakpoint-down(sm) {
  .btn:not(.auto-width) {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

@include media-breakpoint-up(md) {
  .page {
    padding: 0 75px 0 0;

    .page-content {
      padding: 30px 30px 0;
    }
  }
}
